<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "main/css/main.css"}}" />

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}


    <!-- BEGIN highlight.js -->

    <link
		rel="stylesheet" 
		href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/styles/zenburn.min.css" 
		integrity="sha512-An0YCxH4RK49+wwobIVk7k5TznOStGIAfdljm8mRLKKNC8qubQd9hNMFUkTBSjYzpo3ICY9kNV53TVsawlZGXw==" 
		crossorigin="anonymous"
    />

    <!-- FIX line numbers -->
    <!-- https://github.com/PrismJS/prism/issues/1420#issuecomment-388651433 -->
    <style>
        code[class*="language-"] {
            border-style: none;
	    }
        pre.line-numbers > code {
  		    overflow: visible;
  		    padding: 0;
	    }
    </style>
    <!-- END highlight.js -->

	<!-- BEGIN KaTeX -->
    <link
	    rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" 
        integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" 
        crossorigin="anonymous"
    >
    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer 
	    src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" 
        integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" 
        crossorigin="anonymous">
    </script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer 
        src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" 
        integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" 
        crossorigin="anonymous"
        onload="renderMathInElement(document.body);">
    </script>
    <!-- END KaTeX -->

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

    {{ghost_head}}

</head>
<body class="is-preload {{body_class}}">

    <div id="wrapper">
        <main id="main">
            <div class="inner">

                {{!-- Header --}}
                <header id="header">
                    {{#if @site.logo}}
                        <a href="{{@site.url}}" class="logo image"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
                    {{else}}
					<a href="{{@site.url}}" class="logo"><h1 style="color:LightSalmon;">{{@site.title}}</h1></a>
                    {{/if}}
                    <ul class="icons">
							<li><a href="https://github.com/sebwink/deregnet" class="icon fa-github" title="GitHub"><span class="label">GitHub</span></a></li>	
							<li><a href="https://kohlbacherlab.org/" class="icon fa-graduation-cap" title="ABI"><span class="label">ABI</span></a></li>	
                        {{#if @site.twitter}}
                            <li><a href="{{twitter_url @site.twitter}}" class="icon fa-twitter" title="Twitter"><span class="label">Twitter</span></a></li>
                        {{/if}}
                        {{#if @site.facebook}}
                            <li><a href="{{facebook_url @site.facebook}}" class="icon fa-facebook" title="Facebook"><span class="label">Facebook</span></a></li>
                        {{/if}}
                        <li><a href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" class="icon fa-rss" target="_blank" rel="noopener"><span class="label" title="RSS">RSS</span></a></li>
                    </ul>
                </header>

                {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
                {{{body}}}

            </div>
        </main>

        {{!-- The left sidebar - partials/sidebar.hbs --}}
        {{> sidebar}}

    </div>

    {{!-- Theme Scripts --}}
    <script src="{{asset "main/js/jquery.min.js"}}"></script>
    <script src="{{asset "main/js/browser.min.js"}}"></script>
    <script src="{{asset "main/js/breakpoints.min.js"}}"></script>
    <script src="{{asset "main/js/util.js"}}"></script>
    <script src="{{asset "main/js/main.js"}}"></script>

    <!-- BEGIN highlight.js -->

    <script 
		src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/highlight.min.js" 
		integrity="sha512-tHQeqtcNWlZtEh8As/4MmZ5qpy0wj04svWFK7MIzLmUVIzaHXS8eod9OmHxyBL1UET5Rchvw7Ih4ZDv5JojZww==" 
		crossorigin="anonymous"
    ></script>

    <!-- Python -->
    <script 
		src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/languages/python.min.js" 
		integrity="sha512-WcBVMlcnidIwZahxxTMnFDuZ/KBAaaWKLA7fw4Blz+H1eB17NgLHV2muHZCwVWK5tYO6AN59GQDosn1muZFJng==" 
		crossorigin="anonymous"
    ></script>
	<!-- C++ -->
    <script 
		src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.3/languages/cpp.min.js" 
		integrity="sha512-FyBNkKd2P3U0uqHR6bkIZUXXxZ0WnVVTSwQS+9LuBuUZ8c8bcXC7eQU2yYSq0kFk65QMt7S9oO6lGH34EqM9Qw==" 
		crossorigin="anonymous"
    ></script>
	<!-- Rust -->

	<!-- TypeScript -->

	<!-- C -->

	<!-- HTML -->

	<!-- CSS -->

	<!-- JavaScript -->

	<!-- JSON -->

	<!-- YAML -->

	<!-- SQL -->

	<!-- Java -->

	<!-- Go -->

	<!-- Makefile -->

	<!-- Bash -->

	<script>hljs.initHighlightingOnLoad();</script>

    <!-- cookieconsent -->

    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
		window.cookieconsent.initialise({
		    "palette": {
				"popup": {
				    "background": "#eb6c44",
				    "text": "#ffffff"
				},
				"button": {
				    "background": "#f5d948"
				}
		    },
		    "theme": "classic",
		    "position": "bottom-left"
		});
</script>

    <!-- BEGIN ghost.org/members.js -->
    <script
	    type="text/javascript" 
        src="https://unpkg.com/@tryghost/members-js@latest/umd/members.min.js">
    </script>
    <!-- END ghost.org/members.js -->

    {{!-- Ghost outputs important scripts & data with the {ghost_foot} tag
    it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>
